<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaka.mapper.ProblemMapper">
    <select id="getAll" resultType="com.kaka.entity.Problem">
        select * from problems_set;
    </select>
    <select id="getProblemByFilter1" resultType="com.kaka.entity.Problem" parameterType="String">
        select * from problems_set where source = #{source} and difficulty = #{difficulty};
    </select>

    <select id="getProblemByFilter2" resultType="com.kaka.entity.Problem" parameterType="String">
        select * from problems_set where difficulty = #{difficulty};
    </select>

    <select id="getProblemByFilter3" resultType="com.kaka.entity.Problem" parameterType="String">
        select * from problems_set where source = #{source};
    </select>
</mapper>